.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: for a modal-like overlay */
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

h2 {
  text-align: center;
}

.full-width {
  width: 100%;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.description{
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  height: 100px;

}

.title{
 
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  height: 50px;
}
